<div class="footer">
  <div class="top">
    <ul>
      <li>Terms & Conditons</li>
      <li>Contact Us</li>
      <li>About Us</li>
    </ul>
  </div>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima harum non ut officia, deserunt
    consequuntur beatae
    architecto, dolorem vero hic velit ea quas qui repellendus eius voluptate quis? Rerum totam quis suscipit optio
    eligendi accusantium. Accusamus quod voluptas saepe dignissimos nobis eligendi, a eius laborum quaerat inventore
    unde quibusdam exercitationem modi, blanditiis quia, perspiciatis autem harum! Hic aut officia omnis quasi sapiente
    expedita blanditiis non saepe! Eos, facilis. Nemo velit voluptate eum architecto. Voluptate error natus sunt tenetur
    harum eius, doloribus nam fugiat modi, vero aut delectus, deleniti perferendis reiciendis velit sint? Aspernatur
    reprehenderit pariatur veniam mollitia laudantium repellendus vel.</p>
</div>