$default-animation: 0.15s ease-in-out;
$bold-title: bold 42px "Fira Sans", sans-serif;
$regular-title: 42px "Fira Sans", sans-serif;
$details: 16px "Fira Sans", sans-serif;
$font-color: #202020;
$link-color: #003fb4;
$font-color-hilight: #000000;
$link-color-hilight: #4200b4;
$primary-color: #ff5900a2;
$primary-color-hover: #ff5900ba;
