<div class="top-bar">
  <div class="left">
    <div class="img">
      <img (click)="toggleMenu()" class="icon" src="favicon.ico" alt="">
      <p-dialog [modal]="true" [(visible)]="dialog" [style]="{ width: '50rem' }">
        <span class="p-text-secondary block mb-8">Update your information.</span>
        <div class="flex items-center gap-4 mb-4">
          <label for="username" class="font-semibold w-24">Username</label>
          <input pInputText id="username" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Email</label>
          <input pInputText id="email" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex justify-end gap-2">
          <p-button label="Cancel" severity="secondary" (click)="toggleMenu()" />
          <p-button label="Save" (click)="toggleMenu()" />
        </div>
      </p-dialog>
    </div>
    <div routerLink="" class="button">
      <i class="pi pi-home"></i>
      Home
    </div>
    <div [routerLink]="'/product'" class="button">
      <i class="pi pi-box"></i>
      Products
    </div>
    <div [routerLink]="'/category'" class="button">
      <i class="pi pi-objects-column"></i>
      Category
    </div>
  </div>
  <div class="right">
    <div (click)="toast()" class="icon">
      <i class="pi pi-search"></i>
      Search
    </div>
    <div [routerLink]="'/cart'" class="icon">
      <i class="pi pi-shopping-cart"></i>
      Cart
    </div>
  </div>
</div>
<p-toast />