@use "../../variables" as *;

.top-bar {
  width: 100%;
  display: flex;
  height: 35px;
  justify-content: space-between;
  background: linear-gradient(#ff5900a2, #ff7e3882, #ff5900a2);
  padding: 0px 10px;
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
    .button {
      cursor: pointer;
      height: 100%;
      padding: 0px 10px;
      align-content: center;
      transition: $default-animation;
    }
    :hover {
      background-color: #0000000f;
    }
  }
  .right {
    display: flex;
    gap: 10px;
    .icon {
      align-content: center;
      border: 1px solid #00000080;
      border-radius: 100px;
      margin: 5px 0;
      padding: 0 10px;
      cursor: pointer;
      transition: $default-animation;
    }
    :hover {
      border-color: #000000c0;
      background-color: #0000000f;
    }
  }
}
.p-dialog-enter-active {
  animation: demo-dialog-in 500ms ease-out;
}

.p-dialog-leave-active {
  animation: demo-dialog-out 300ms ease-in;
}

@keyframes demo-dialog-in {
  from {
    opacity: 0;
    transform: translateY(-10%) scale(1.1);
    filter: blur(10px);
  }
}

@keyframes demo-dialog-out {
  to {
    opacity: 0;
    transform: translateY(200%) rotate(-90deg);
  }
}
