@use "../../variables" as *;

.top-bar {
  width: 100%;
  display: flex;
  height: 35px;
  justify-content: space-between;
  background: linear-gradient(#ff5900a2, #ff7e3882, #ff5900a2);
  padding: 0px 10px;
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    .img {
      ::ng-deep {
        .p-dialog-enter-active {
          animation: demo-dialog-in 400ms cubic-bezier(0.39, 0.575, 0.565, 1)
            both;
        }

        .p-dialog-leave-active {
          animation: demo-dialog-out 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        }

        @keyframes demo-dialog-in {
          0% {
            transform: scale(0);
            transform-origin: 0 0;
          }
          100% {
            transform: scale(1);
            transform-origin: 0 0;
          }
        }

        @keyframes demo-dialog-out {
          0% {
            transform: scale(1);
            transform-origin: 100% 100%;
          }
          100% {
            transform: scale(0);
            transform-origin: 100% 100%;
          }
        }
      }
      .icon {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
    .button {
      cursor: pointer;
      height: 100%;
      padding: 0px 10px;
      align-content: center;
      transition: $default-animation;
    }
    :hover {
      background-color: #0000000f;
    }
  }
  .right {
    display: flex;
    gap: 10px;
    .icon {
      align-content: center;
      border: 1px solid #00000080;
      border-radius: 100px;
      margin: 5px 0;
      padding: 0 10px;
      cursor: pointer;
      transition: $default-animation;
    }
    :hover {
      border-color: #000000c0;
      background-color: #0000000f;
    }
  }
}
